Pair Programming - 18 - nov - 2025

In [2]:
import pandas as pd
import numpy as np

### Ejercicios

1. ¿Qué diferencia hay entre una *Serie* y un *DataFrame*?

Diferencia: Una Serie es una estructura de datos unidimensional en Pandas. Se puede pensar en una Serie como una columna en una tabla con etiquetas de índice. Cada elemento en una Serie tiene un índice asociado que permite acceder a los datos de forma individual. Un DataFrame es una estructura de datos bidimensional en forma de tabla, similar a una hoja de cálculo o una base de datos relacional.

2. Es el turno de los *DataFrames*
   * Crea un *array* de dos dimensiones con 4 filas y 3 columnas.

In [3]:
np_random = np.random.rand(4, 3)
np_random

array([[0.34504043, 0.37669315, 0.27769291],
       [0.57793395, 0.82203867, 0.86491109],
       [0.67928237, 0.22243099, 0.68220407],
       [0.26612884, 0.83090533, 0.29011463]])

In [4]:
df_new = pd.DataFrame(np_random)
df_new

          0         1         2
0  0.345040  0.376693  0.277693
1  0.577934  0.822039  0.864911
2  0.679282  0.222431  0.682204
3  0.266129  0.830905  0.290115

   * Convierte el *array* en un *DataFrame* donde las columnas se llamen "España", "Francia" e "Italia".

In [5]:
df_new2 = pd.DataFrame(np_random, columns=["España", "Francia", "Italia"])
df_new2

     España   Francia    Italia
0  0.345040  0.376693  0.277693
1  0.577934  0.822039  0.864911
2  0.679282  0.222431  0.682204
3  0.266129  0.830905  0.290115

   * Descarga el archivo "medallas" y carga el *DataFrame*.

In [6]:
df_medallas = pd.read_csv(r'archivos/medallas.csv', index_col=0)
df_wd23 = pd.read_csv(r'archivos\world-data-2023_part1.csv', index_col=0)

In [7]:
df_medallas.head(2)

    País   Oro  Plata  Bronce
1  China  1473    994     720
2  Japón  1032   1037     985

In [8]:
df_medallas.shape

(10, 4)

In [9]:
df_medallas.columns

Index(['País', 'Oro', 'Plata', 'Bronce'], dtype='object')

In [10]:
df_medallas.size

40

In [11]:
df_medallas.values

array([['China', 1473, 994, 720],
       ['Japón', 1032, 1037, 985],
       ['Corea del Sur', 745, 663, 827],
       ['Irán', 179, 181, 197],
       ['Kazajistán', 155, 158, 224],
       ['India', 154, 202, 315],
       ['Tailandia', 132, 175, 278],
       ['Indonesia', 112, 131, 240],
       ['China Taipéi', 99, 144, 276],
       ['Corea del Norte', 91, 120, 235]], dtype=object)

   * Usando el `loc` extrae todas las columnas de la fila de Tailandia.

In [12]:
df_medallas.head()

            País   Oro  Plata  Bronce
1          China  1473    994     720
2          Japón  1032   1037     985
3  Corea del Sur   745    663     827
4           Irán   179    181     197
5     Kazajistán   155    158     224

In [13]:
df_medallas.index

Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [14]:
diccionario_indices = dict(list(zip(list(df_medallas['País'].values), list(df_medallas.index))))

In [15]:
diccionario_indices.get('Tailandia')

7

In [16]:
df_medallas.loc[diccionario_indices.get('Tailandia')]

País      Tailandia
Oro             132
Plata           175
Bronce          278
Name: 7, dtype: object

Versión más limpia:

In [17]:
fila_tailandia = df_medallas.loc[df_medallas["País"] == "Tailandia"]
print(fila_tailandia)

        País  Oro  Plata  Bronce
7  Tailandia  132    175     278

   * Usando el `loc` extrae todas las columnas de China e Irán.

In [18]:
fila_ci = df_medallas.loc[(df_medallas["País"] == "China") | (df_medallas["País"] == "Irán")]
print(fila_ci)

    País   Oro  Plata  Bronce
1  China  1473    994     720
4   Irán   179    181     197

   * Usando el `loc` extrae solo las columnas de "Oro", "Plata" y "Bronce" de China e Irán.

In [19]:
fila_ci2 = df_medallas.loc[(df_medallas["País"] == "China") | (df_medallas["País"] == "Irán"),["Oro", "Plata", "Bronce"]]
print(fila_ci2)

    Oro  Plata  Bronce
1  1473    994     720
4   179    181     197

ESTA SINTAXIS NO FUNCIONA!!!!

In [20]:
# fila_ci2 = df_medallas.loc[(df_medallas["País"] == "China"),['Oro','Plata','Bronce'] | (df_medallas["País"] == "Irán"),['Oro','Plata','Bronce']]
# print(fila_ci2)

In [21]:
fila_ci2 = df_medallas.loc[
    df_medallas["País"].isin(["China", "Irán"]),
    ["Oro", "Plata", "Bronce"]
]

print(fila_ci2)     # Otra sintaxis pero que NO hemos visto.

    Oro  Plata  Bronce
1  1473    994     720
4   179    181     197

   * Usando el `iloc` extrae la información de la India. Devolved todas las columnas.

In [22]:
display(df_medallas.head(2))

    País   Oro  Plata  Bronce
1  China  1473    994     720
2  Japón  1032   1037     985

In [23]:
s_pais = pd.Series(df_medallas['País'],)
s_pais

1               China
2               Japón
3       Corea del Sur
4                Irán
5          Kazajistán
6               India
7           Tailandia
8           Indonesia
9        China Taipéi
10    Corea del Norte
Name: País, dtype: object

In [ ]:
diccionario_indices

{'China': 1,
 'Japón': 2,
 'Corea del Sur': 3,
 'Irán': 4,
 'Kazajistán': 5,
 'India': 6,
 'Tailandia': 7,
 'Indonesia': 8,
 'China Taipéi': 9,
 'Corea del Norte': 10}

In [ ]:
fila_india = df_medallas.iloc[diccionario_indices.get('India')]
print(fila_india)

País      Tailandia
Oro             132
Plata           175
Bronce          278
Name: 7, dtype: object

In [29]:
fila_india = df_medallas.iloc[5]
display(fila_india)

País      India
Oro         154
Plata       202
Bronce      315
Name: 6, dtype: object

In [25]:
df_medallas.index[df_medallas["País"] == "India"]

Index([6], dtype='int64')

In [27]:
df_medallas.iloc[5, :]          # Aquí los : significan todas las columnas.

País      India
Oro         154
Plata       202
Bronce      315
Name: 6, dtype: object


   * Usando el `iloc` extrae todas las columnas de los países que estén en posición impar. La primera que nos tendría que salir es Japón y la última Corea del Norte.
   * Utilizando el código del ejercicio anterior, selecciona unicamente las columnas "Oro", "Plata" y "Bronce".
   * Contesta a las siguientes preguntas:
     * ¿Qué país consiguió más de 200 medallas de oro?
     * ¿Qué país consiguió más de 200 medallas de oro y más de 1000 de plata?
     * ¿Qué país consiguió más de 200 medallas de oro o más de 700 de bronce?
   * Crea una nueva columna que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada país.

3. Momento de trabajar con Series. Contesta a las siguientes preguntas:
   * Crea dos listas:
     * Una que se llame "valores" que tenga 7 números aleatorios.
     * Otra que se llame "indices" que tenga 7 *strings* que se llamen como los días de la semana.
   * A partir de estas dos listas crea una *Serie* donde la variable "valores" sean los valores de la *Serie* y la variable *indices* sean los índices de la *Serie*.
   * A partir de las dos listas anteriores crea un diccionario usando un bucle *for*. Para hacer esto tenemos el método `zip` que nos permite iterar por dos listas a la vez. Más información sobre este método [aquí](https://www.programiz.com/python-programming/methods/built-in/zip).
   * Crea una *Serie* con el diccionario creado en el punto anterior.
   * ¿Qué forma tiene esta última Serie?
   * ¿Qué tipo de datos tiene?
   * ¿Qué tamaño tiene?
   * ¿Cuáles son los índices de la Serie?
   * ¿Y los *values*?
   * Extrae el valor para el índice "lunes"
   * Extrae el valor para el índice "lunes", "martes" y "miércoles".
   * Extrae el valor para el índice "lunes" y "domingo".

### Más ejercicios de loc e iloc

Para realizar estos ejercicios deberéis usar el conjunto de datos de `world-data-2023-part1.csv`.

1. Selecciona todas las columnas de las filas 2 a 4 (inclusive) utilizando `loc`.
2. Utilizando `loc`, filtra el conjunto de datos para mostrar solo las filas donde la densidad (columna "Birth Rate") es mayor a 30.
3. Utilizando `loc` selecciona las columnas "Country" y "Capital/Major City" de las filas donde el porcentaje de tierra agrícola (columna "Fertility Rate") es superior al 3.
4. Selecciona todas las filas de las columnas 0 a 4 (excluyendo la columna 4) utilizando `iloc`.
5. Encuentra el valor en la fila 2 y columna 7 utilizando `iloc`.
6. Selecciona todas las filas para las columnas 0, 2, y 5 utilizando `iloc`.
7. Encuentra el valor de "Gasoline Price" para el país cuya abreviatura es "AL" utilizando `loc`.
8. Selecciona todas las columnas para el país cuya capital es "Tirana" utilizando `loc`.
9. Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI (columna "CPI") sea igual a 128.85.
10. Encuentra la densidad (columna "Density\n(P/Km2)") para el país cuya abreviatura es "AD" utilizando `loc`.
11. Selecciona las columnas "Country" y "Co2-Emissions".
12. Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI cambió un 2% (columna "CPI Change (%)").
13. Encuentra la tasa de natalidad (columna "Birth Rate") para el país con la abreviatura "AF" utilizando `loc`.
14. Selecciona todas las columnas de las filas 3 a 5 (excluyendo la fila 5) utilizando `iloc`.
15. Selecciona las columnas 1, 3 y 6 para todas las filas utilizando `iloc`.