# Pair Nulos

**Pair Programming - Modulo 3 - Leccion 6 - Gestión de Nulos**

In [2]:
# importamos las librerías que necesitamos
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None) 
# para poder visualizar todas las columnas de los DataFrames
# -----------------------------------------------------------------------

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [3]:
df = pd.read_csv("archivos/world_data_full_apply.csv", index_col = 0)

## **Ejercicios gestión de nulos**

El objetivo del ejercicio es identificar las columnas que contienen valores nulos y aplicar un proceso de imputación para manejarlos de manera adecuada.

Instrucciones:

1. **Identificación de Valores Nulos:** Identifica todas las columnas que contengan valores nulos en el DataFrame.
2. **Selección de Método de Imputación:** Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.
3. **Imputación de Valores Nulos:** Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.
4. **Informe:** Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.

**Nota:** Puedes utilizar cualquier método o estrategia de imputación que consideres adecuado para los datos y discutir las ventajas y desventajas de tu elección en el informe.

In [4]:
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,Africa

In [8]:
df.shape

(195, 36)

In [12]:
df.isna().sum()

country                                   0
density                                   0
abbreviation                              7
agricultural_land                         7
land_area                                30
armed_forces_size                        29
birth_rate                                6
calling_code                              1
capital/major_city                        3
co2-emissions                            12
cpi                                      20
cpi_change                               16
currency-code                            15
fertility_rate                            7
forested_area                             7
gasoline_price                           20
gdp                                       2
gross_primary_education_enrollment        7
gross_tertiary_education_enrollment      12
infant_mortality                          6
largest_city                              6
life_expectancy                           8
maternal_mortality_ratio                 14
minimum_wage                             45
official_language                         5
out_of_pocket_health_expenditure          7
physicians_per_thousand                   7
population                              156
population_labor_force_participation     19
tax_revenue                              26
total_tax_rate                           12
unemployment_rate                        19
urban_population                        150
latitude                                  1
longitude                                 1
continent                                 1
dtype: int64

In [6]:
df.isna().sum()/df.shape[0]*100

country                                  0.000000
density                                  0.000000
abbreviation                             3.589744
agricultural_land                        3.589744
land_area                               15.384615
armed_forces_size                       14.871795
birth_rate                               3.076923
calling_code                             0.512821
capital/major_city                       1.538462
co2-emissions                            6.153846
cpi                                     10.256410
cpi_change                               8.205128
currency-code                            7.692308
fertility_rate                           3.589744
forested_area                            3.589744
gasoline_price                          10.256410
gdp                                      1.025641
gross_primary_education_enrollment       3.589744
gross_tertiary_education_enrollment      6.153846
infant_mortality                         3.076923
largest_city                             3.076923
life_expectancy                          4.102564
maternal_mortality_ratio                 7.179487
minimum_wage                            23.076923
official_language                        2.564103
out_of_pocket_health_expenditure         3.589744
physicians_per_thousand                  3.589744
population                              80.000000
population_labor_force_participation     9.743590
tax_revenue                             13.333333
total_tax_rate                           6.153846
unemployment_rate                        9.743590
urban_population                        76.923077
latitude                                 0.512821
longitude                                0.512821
continent                                0.512821
dtype: float64

In [13]:
df.describe(include='O').T

                   count unique          top freq
country              195    195  Afghanistan    1
abbreviation         188    188           AF    1
capital/major_city   192    192        Kabul    1
currency-code        180    133          EUR   23
largest_city         189    188        S����    2
official_language    190     76      English   31
continent            194      7       Africa   53

In [23]:
df['continent'].value_counts(dropna=False, normalize=True)*100

continent
Africa             27.179487
Europe             24.102564
Asia               23.076923
Central America    10.256410
Oceania             7.179487
South America       6.666667
North America       1.025641
NaN                 0.512821
Name: proportion, dtype: float64

In [14]:
df['abbreviation'].unique()

array(['AF', 'AL', 'DZ', 'AD', 'AO', 'AG', 'AR', 'AM', 'AU', 'AT', 'AZ',
       'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BT', 'BO', 'BA',
       'BW', 'BR', 'BN', 'BG', 'BF', 'BI', 'CI', 'CV', 'KH', 'CM', 'CA',
       'CF', 'TD', 'CL', 'CN', 'CO', 'KM', nan, 'CR', 'HR', 'CU', 'CY',
       'CZ', 'CD', 'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER',
       'EE', 'ET', 'FJ', 'FI', 'FR', 'GA', 'GM', 'GE', 'DE', 'GH', 'GR',
       'GD', 'GT', 'GN', 'GW', 'GY', 'HT', 'HN', 'HU', 'IS', 'IN', 'ID',
       'IR', 'IQ', 'IL', 'IT', 'JM', 'JP', 'JO', 'KZ', 'KE', 'KI', 'KW',
       'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT', 'LU', 'MG',
       'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MR', 'MU', 'MX', 'FM', 'MD',
       'MC', 'MN', 'ME', 'MA', 'MZ', 'MM', 'NR', 'NP', 'NL', 'NZ', 'NI',
       'NE', 'NG', 'KP', 'NO', 'OM', 'PK', 'PW', 'PA', 'PG', 'PY', 'PE',
       'PH', 'PL', 'PT', 'QA', 'RO', 'RU', 'RW', 'KN', 'LC', 'VC', 'WS',
       'SM', 'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SK', 'SI', 'SB',
       'SO', 'ZA', 'KR', 'SS', 'ES', 'LK', 'SD', 'SR', 'SE', 'CH', 'SY',
       'TJ', 'TZ', 'TH', 'TL', 'TG', 'TO', 'TT', 'TN', 'TR', 'TM', 'TV',
       'UG', 'UA', 'AE', 'GB', 'US', 'UY', 'UZ', 'VU', 'VE', 'VN', 'YE',
       'ZM', 'ZW'], dtype=object)

In [18]:
df['abbreviation'].value_counts(dropna=False, normalize=True)*100
# no moda, poner unknown

abbreviation
NaN    3.589744
AL     0.512821
DZ     0.512821
AD     0.512821
AF     0.512821
         ...
VE     0.512821
VN     0.512821
YE     0.512821
ZM     0.512821
ZW     0.512821
Name: proportion, Length: 189, dtype: float64

In [15]:
df['capital/major_city'].unique()

array(['Kabul', 'Tirana', 'Algiers', 'Andorra la Vella', 'Luanda',
       "St. John's, Saint John", 'Buenos Aires', 'Yerevan', 'Canberra',
       'Vienna', 'Baku', 'Nassau, Bahamas', 'Manama', 'Dhaka',
       'Bridgetown', 'Minsk', 'City of Brussels', 'Belmopan',
       'Porto-Novo', 'Thimphu', 'Sucre', 'Sarajevo', 'Gaborone',
       'Bras���', 'Bandar Seri Begawan', 'Sofia', 'Ouagadougou',
       'Bujumbura', 'Yamoussoukro', 'Praia', 'Phnom Penh', 'Yaound�',
       'Ottawa', 'Bangui', "N'Djamena", 'Santiago', 'Beijing', 'Bogot�',
       'Moroni, Comoros', 'Brazzaville', 'San Jos������', 'Zagreb',
       'Havana', 'Nicosia', 'Prague', 'Kinshasa', 'Copenhagen',
       'Djibouti City', 'Roseau', 'Santo Domingo', 'Quito', 'Cairo',
       'San Salvador', 'Malabo', 'Asmara', 'Tallinn', 'Mbabane',
       'Addis Ababa', 'Suva', 'Helsinki', 'Paris', 'Libreville', 'Banjul',
       'Tbilisi', 'Berlin', 'Accra', 'Athens', "St. George's, Grenada",
       'Guatemala City', 'Conakry', 'Bissau', 'Georgetown, Guyana',
       'Port-au-Prince', 'Vatican City', 'Tegucigalpa', 'Budapest',
       'Reykjav��', 'New Delhi', 'Jakarta', 'Tehran', 'Baghdad', 'Dublin',
       'Jerusalem', 'Rome', 'Kingston, Jamaica', 'Tokyo', 'Amman',
       'Astana', 'Nairobi', 'South Tarawa', 'Kuwait City', 'Bishkek',
       'Vientiane', 'Riga', 'Beirut', 'Maseru', 'Monrovia', nan, 'Vaduz',
       'Vilnius', 'Luxembourg City', 'Antananarivo', 'Lilongwe',
       'Kuala Lumpur', 'Mal�', 'Bamako', 'Valletta', 'Majuro',
       'Nouakchott', 'Port Louis', 'Mexico City', 'Palikir', 'Chi����',
       'Monaco City', 'Ulaanbaatar', 'Podgorica', 'Rabat', 'Maputo',
       'Naypyidaw', 'Windhoek', 'Yaren District', 'Kathmandu',
       'Amsterdam', 'Wellington', 'Managua', 'Niamey', 'Abuja',
       'Pyongyang', 'Skopje', 'Oslo', 'Muscat', 'Islamabad', 'Ngerulmud',
       'Panama City', 'Port Moresby', 'Asunci��', 'Lima', 'Manila',
       'Warsaw', 'Lisbon', 'Doha', 'Bucharest', 'Moscow', 'Kigali',
       'Basseterre', 'Castries', 'Kingstown', 'Apia',
       'City of San Marino', 'S����', 'Riyadh', 'Dakar', 'Belgrade',
       'Victoria, Seychelles', 'Freetown', 'Bratislava', 'Ljubljana',
       'Honiara', 'Mogadishu', 'Pretoria', 'Seoul', 'Juba', 'Madrid',
       'Colombo', 'Khartoum', 'Paramaribo', 'Stockholm', 'Bern',
       'Damascus', 'Dushanbe', 'Dodoma', 'Bangkok', 'Dili', 'Lom�',
       'Nuku����', 'Port of Spain', 'Tunis', 'Ankara', 'Ashgabat',
       'Funafuti', 'Kampala', 'Kyiv', 'Abu Dhabi', 'London',
       'Washington, D.C.', 'Montevideo', 'Tashkent', 'Port Vila',
       'Caracas', 'Hanoi', 'Sanaa', 'Lusaka', 'Harare'], dtype=object)

In [16]:
df['capital/major_city'].isna().sum()

np.int64(3)

In [ ]:
df['capital/major_city'].value_counts(dropna=False, normalize=True)*100

capital/major_city
NaN                 1.538462
Tirana              0.512821
Algiers             0.512821
Andorra la Vella    0.512821
Luanda              0.512821
                      ...
Caracas             0.512821
Hanoi               0.512821
Sanaa               0.512821
Lusaka              0.512821
Harare              0.512821
Name: proportion, Length: 193, dtype: float64

In [22]:
df[['capital/major_city','abbreviation','country','continent']]
# iterar por country y sustituir los valores de abreviación.

    capital/major_city abbreviation      country      continent
0                Kabul           AF  Afghanistan           Asia
1               Tirana           AL      Albania         Europe
2              Algiers           DZ      Algeria         Africa
3     Andorra la Vella           AD      Andorra         Europe
4               Luanda           AO       Angola         Africa
..                 ...          ...          ...            ...
190            Caracas           VE    Venezuela  South America
191              Hanoi           VN      Vietnam           Asia
192              Sanaa           YE        Yemen           Asia
193             Lusaka           ZM       Zambia         Africa
194             Harare           ZW     Zimbabwe         Africa

[195 rows x 4 columns]

In [24]:
df[['capital/major_city','abbreviation','country','continent']].isna()

     capital/major_city  abbreviation  country  continent
0                 False         False    False      False
1                 False         False    False      False
2                 False         False    False      False
3                 False         False    False      False
4                 False         False    False      False
..                  ...           ...      ...        ...
190               False         False    False      False
191               False         False    False      False
192               False         False    False      False
193               False         False    False      False
194               False         False    False      False

[195 rows x 4 columns]

In [31]:
df[df['continent'].isna()][['country', 'capital/major_city', 'abbreviation', 'continent']]

          country capital/major_city abbreviation continent
150  S�����������              S����           ST       NaN

In [36]:
df['currency-code']

0      AFN
1      ALL
2      DZD
3      EUR
4      AOA
      ...
190    VED
191    VND
192    YER
193    ZMW
194    NaN
Name: currency-code, Length: 195, dtype: object